## {{ item.name }} mailing list
{{ item.name }}:              "|/var/lib/mailman/mail/mailman post {{ item.name }}"
{{ item.name }}-admin:        "|/var/lib/mailman/mail/mailman admin {{ item.name }}"
{{ item.name }}-bounces:      "|/var/lib/mailman/mail/mailman bounces {{ item.name }}"
{{ item.name }}-confirm:      "|/var/lib/mailman/mail/mailman confirm {{ item.name }}"
{{ item.name }}-join:         "|/var/lib/mailman/mail/mailman join {{ item.name }}"
{{ item.name }}-leave:        "|/var/lib/mailman/mail/mailman leave {{ item.name }}"
{{ item.name }}-owner:        "|/var/lib/mailman/mail/mailman owner {{ item.name }}"
{{ item.name }}-request:      "|/var/lib/mailman/mail/mailman request {{ item.name }}"
{{ item.name }}-subscribe:    "|/var/lib/mailman/mail/mailman subscribe {{ item.name }}"
{{ item.name }}-unsubscribe:  "|/var/lib/mailman/mail/mailman unsubscribe {{ item.name }}"
